<h1>Profile Preferences#show</h1>
<p>Work: <%= @user.job %></p>
<p>Education: <%= @user.school %></p>
<p>Location: <%= @user.home %></p>
<p>Birthday: <%= @user.bday %></p>
<p>Gender: <%= @user.gender %></p>
<p>Hobbies: <%= @user.hobbies %></p>
