<p id="notice"><%= notice %></p>
<div class="user-box">
<%= image_tag @post.user.avatar.url(:thumb), class: 'profile' %>
<%= link_to @post.user.name, @post.user %>
</div>
<p>
  <%= @post.content %>
</p>
<%= image_tag @post.avatar.url if @post.avatar.exists? %>
    <div class="<%= @post.class %>-<%= @post.id %>">

<%= link_to pluralize(@comments.count, 'comment'), @post, class: 'comments' %>

<%= render 'shared/form' %>
<%= render @comments  %>
